__pycache__
*.png
*.jpg
*.jpeg
*.bmp
*.mp4
*.pdf
*.zip
*.so
*.egg-info
dist
build
.ipynb_checkpoints
.DS_Store
doc/source/*.rst
!doc/source/index.rst
!doc/source/intro.rst
!doc/source/benchmark.rst
!doc/source/examples.rst
!doc/source/start.rst
!doc/source/references.rst
!doc/source/figures/*.png
!data/test/*.png
!data/lemur/*.png

# from tests/.gitignore
tests/results/

# from benchmarks/.gitignore
benchmarks/*.zip
benchmakrs/Eigen/
benchmarks/images/
benchmarks/results/
